<h3>Line</h3>
<input type="text" name="title" required="required" placeholder="Title"/>
<input type="text" name="subtitle" placeholder="Subtitle"/>
<input type="hidden" name="type" value="line"/>
<!-- <input type="hidden" name="backlog" value="25"/> -->
<input type="text" id="x-axis" name="x-axis" required="required" placeholder="Axis Name" />
<div class="data-points">
<input type="text" class="data-point" name="datapoint[]" required="required" placeholder="0"/>
</div>
<!-- <div class="column-inputs">
<input type="text" class="column-input" name="columns[]" required="required" placeholder="y-axis label"/>
</div> -->
 <hr>
<button class="pull-left btn" type="button" id="add-data-point">Add Datapoint</button>
<!-- <button class="pull-left btn" type="button" id="add-column">Add Column</button> -->
<button class="pull-left btn" type="button" id="remove-data-point">Remove Datapoint</button>
<!-- <button class="pull-left btn" type="button" id="remove-column">Remove Column</button> -->