

    <div class="hero-unit">
      <h1>DataBuffet.io</h1>
      <p>
        All the data you can eat, all on one plate.
      </p>
      <p>
      </p>
    </div>

        <div class="row" id="call-to-action">

          <div class="span9">
              <h2>Get started visualizating your data now!</h2>
          </div><!-- end text -->

          <span><a class="btn btn-large btn-success" {{action goToSignup}}>Sign up!</a><a href="#" {{action goToLogin}}> or sign in</a></span>

        </div><!-- end cta -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Real Time</h2>
           <p>What's new? You'll know as soon as we do.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Flexible</h2>
           <p>Send in data about anything, all updated in real time.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Kittens</h2>
          <p>TryDataBuffet.com will always love kittens.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>
