<h3>Pie</h3>
<input type="text" id="title" required="required" placeholder="Title"/>
<input type="text" id="subtitle" placeholder="Subtitle"/>
<input type="hidden" name="type" value="PieGraph"/>
<input type="hidden" name="backlog" value="25"/>
<input type="text" name="groups" required="required" placeholder="x-axis label"/>
<input type="text" name="columns" required="required" placeholder="y-axis label"/>