<div class="row">
	<div class="offset4 span4">
		<form {{action createUser on="submit"}}>
			<fieldset>
				<legend>
					Sign up now to start visualizing your data.
				</legend>
				<input id="email-entry" type="email" required="required" placeholder="Email address">
				<input id="password-entry" type="password" required="required" placeholder="Password">
				<button class="btn" type="submit">Sign up!</button>
			</fieldset>
		</form>
	</div>
</div>